# Use this file to install the dependencies of the project and those needed to contribute to its development.
-r requirements.txt
flake8  # Used for style checking (linting)
mypy  # Used for type checking
types-PyYAML # for type hinting with one of the dependencies (pyYAML)
pytest  # to run the test functions
